.title {
  font-size: 4rem;
  color: #fff;
  font-weight: 400;
  margin-top: 0;
}

.text {
  font-style: normal;
  margin: 0;
  color: #00caaf;
}

.day {
  font-size: 9rem;
}

.timer,
.dayWrapper {
  font-size: 10rem;
  font-family: 'Digital', sans-serif;
}

:global(.finished) .text {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: blinkingTimer;
}

@keyframes blinkingTimer {
  0% {
    color: #00caaf;
  }

  50% {
    color: #fff;
  }
}
