.video {
    visibility: hidden;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    z-index: 10;
    position: absolute;
    transform: translateY(-100%);
}

.mirrored {
    transform: rotateY(180deg) translateY(-100%);
    -webkit-transform:rotateY(180deg) translateY(-100%); /* Safari and Chrome */
    -moz-transform:rotateY(180deg) translateY(-100%); /* Firefox */
    z-index: 10;
}