body {
    margin: 0;
}

:global(.finished) .content {
    display: none;
}

.terrorists {
    display: none;
}

:global(.finished) .terrorists {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}