@font-face {
  font-family: 'Digital';
  src: url('../public/fonts/digital-7.ttf') format('truetype');
}

:root {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 8px;
  }
}

body {
  font-family: 'Inter', sans-serif;
  background: #2a3038;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

body.finished {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: blinking;
}

@keyframes blinking {
  0% {
    background: #2a3038;
  }

  50% {
    background: #c51942;
  }
}
